@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display:flex ;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}
.Calculator{
    position: relative;
    display: grid;
}

.Calculator .value{
    grid-column: span 4;
    height:100px;
    text-align: right;
    border:none;
    outline:none;
    padding:30px;
    font-size: 18px;
}

.Calculator span
{
    display:grid;
    width:70px;
    height:60px;
    color:#fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0,0,0,.1);

}
.Calculator span:active
{
    background: #74ff3b;
    color: #111;
}
.Calculator span.clear
{
    grid-column: span 2;
    width: 120px;
    background: #ff307f;
}
.Calculator span.plus
{
    grid-row: span 2;
    height: 120px;
}
.Calculator span.equal
{
    grid-column: span 1;
    width: 70px;
    background: #03b1ff;
}


